{% extends "base.html" %}

{% block content %}

<form class="m p-3" style="max-width: 400px" method="post">
    {{ form.hidden_tag() }}
    <h3 class="mb-4 fw-normal">Добавить пользователя</h3>
    <div class="form-floating">
        {{ form.name(class="form-control", type="text", placeholder="", autocomplete="name") }}

        {{ form.name.label }}
        {% for error in form.name.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-floating">
        {{ form.login(class="form-control", type="text", placeholder="", autocomplete="login") }}

        {{ form.login.label }}
        {% for error in form.login.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-floating">
        {{ form.password(class="form-control", type="text", placeholder="", autocomplete="password") }}

        {{ form.password.label }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    <div class="form-floating">
        {{ form.class_numb(class="form-control", type="number", placeholder="", autocomplete="class_numb") }}

        {{ form.class_numb.label }}
        {% for error in form.class_numb.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <h1></h1>
    <div class="form-check">
        {{ form.is_admin(id="123", form="check-input", type="checkbox", autocomplete="is_admin") }}
        {{ form.is_admin.label(class="form-check-label", for="123") }}
        {% for error in form.is_admin.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    {{ form.submit(type="submit", class="btn btn-primary w-100 py-2 mt-4") }}
    <div>{{ message }}</div>


</form>

<!--<form action="" method="POST" novalidate>-->
<!--    <p>-->
<!--    {{form.name.label}}-->
<!--    {{form.name(size=32)}}-->
<!--    </p><p>-->
<!--    {{form.login.label}}-->
<!--    {{form.login(size=32)}}-->
<!--    </p><p>-->
<!--    {{form.password.label}}-->
<!--    {{form.password(size=32)}}-->
<!--    </p><p>-->
<!--    {{form.class_numb.label}}-->
<!--    {{form.class_numb(size=32)}}-->
<!--    </p>-->
<!--    <p>-->
<!--    {{form.is_admin.label}}-->
<!--    {{form.is_admin(size=32)}}-->
<!--    </p>-->
<!--    <p>-->
<!--    {{form.submit()}}-->
<!--    </p>-->
<!--</form>-->

{% endblock %}