{% extends "base.html" %}

{% block content %}
<!--    <section class="py-5 text-center container">-->
<!--        <div class="row py-lg-5">-->
<!--            <div class="col-lg-6 col-md-8 mx-auto">-->
<!--                <h1 class="fw-light">Album example</h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<div class="container-fluid container-md py-4 mb-auto">
    <div class="row g-2">
        <div class="col">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect">
                    <option value="1" selected>По алфавиту</option>
                    <option value="1">По автору</option>
                    <option value="2">Сначала новые</option>
                    <option value="3">Сначала старые</option>
                </select>
                <label for="floatingSelect">Сортировка</label>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="">
                    <label for="floatingInputGrid">Поиск</label>
                </div>
                <button type="submit" class="input-group-text">
                    <svg fill="currentColor" width="20" height="20">
                        <use xlink:href="#search"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4" id="books-container"></div>
</div>

{% endblock %}
