{% extends "base.html" %}

{% block content %}

<form class="m-auto p-3" style="max-width: 400px" method="post">
    {{ form.hidden_tag() }}
    <h3 class="mb-4 fw-normal">Пожалуйста, войдите</h3>

    <div class="form-floating">
        {{ form.username(class="form-control", type="text", placeholder="", autocomplete="username") }}

        {{ form.username.label }}
        {% for error in form.username.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>
    <div class="form-floating mt-2">
        {{ form.password(class="form-control", type="password", placeholder="") }}
        {{ form.password.label }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </div>

    {{ form.submit(type="submit", class="btn btn-primary w-100 py-2 mt-3") }}
    <div>{{ message }}</div>
</form>

{% endblock %}