<nav class="navbar navbar-expand-md sticky-top bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <svg class="bi d-inline-block align-text-top me-1" width="30" height="30">
                <use xlink:href="#phtsh-wb"></use>
            </svg>
            <div class="d-inline d-md-none d-lg-inline">Библиотека ФТШ</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav nav-underline">
                {% for tab in tabs %}
                <li class="nav-item">
                    <a {% if tabs[tab]== page %}
                       class="nav-link active" aria-current="page"
                       {% else %}
                       class="nav-link"
                       {% endif %}
                       href="/{{tab}}">{{ tabs[tab] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="dropdown-center dropstart text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="/profile">Профиль</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Выйти</a></li>
            </ul>
        </div>
    </div>
</nav>
