<nav class="navbar navbar-expand-md sticky-top bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <svg class="bi d-inline-block align-text-top me-1" width="30" height="30">
                <use xlink:href="#phtsh-wb"></use>
            </svg>
            <div class="d-inline d-md-none d-lg-inline">Библиотека ФТШ</div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
            <ul class="navbar-nav nav-underline">
                {% for tab in tabs %}
                <li class="nav-item">
                    <a {% if tabs[tab]== title %}
                       class="nav-link active" aria-current="page"
                       {% else %}
                       class="nav-link"
                       {% endif %}
                       href="/{{tab}}">{{ tabs[tab] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
